body {
  background-image: url(' https://images6.alphacoders.com/429/429155.jpg');
  background-repeat: no-repeat;

  text-align: center;
}

h1 {
  color: rgb(40, 160, 150);
  font-weight: bold;
  padding-bottom: 80px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  color: rgb(150, 51, 133);
  text-decoration-line: underline;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  padding-top: 10px;
  color: rgb(97, 32, 86);
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid #1abc9c;
  color: #1abc9c;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
}

.upload-btn-wrapper input[type='file'] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

label {
  padding-bottom: 30px;
  font-size: 20px;
}
