<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      http-equiv="Content-Security-Policy"
      content="font-src 'self' data:; img-src 'self' data:; default-src 'self' http://121.0.0:3001/"
    />
    <title>Most Common Word</title>
  </head>
  <body>
    <h1>Welcome to Melody's API</h1>
    <form
      ref="uploadForm"
      id="uploadForm"
      action="http://localhost:3001/api/uploadFile"
      method="post"
      encType="multipart/form-data"
    >
      <input type="file" name="text" />
      <input type="submit" value="Upload!" />
    </form>
  </body>
</html>
